name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  gitleaks-scan:
    name: Analisis de Seguridad Unificado
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Correr Gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # NUEVO BLOQUE AGREGADO
      - name: Escaneo de Vulnerabilidades (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
